<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
			
	<!--
	<script>
	$.getJSON( "data/schools.json", function( data ) {console.log(data);});
	</script>
	-->
	
</head>

<body>
<div class="container">

    <h1>DATA FRAME HERE</h1>
	
	<!--
    {% for i in borough %}
    <p><a class="btn btn-primary btn-lg" href="{{i.name}}">{{i.name}}</a></p>
    {% endfor %}
		
	{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
	{% endfor %}
	
	########################################################################
	to other pages
	-->
	
	<p><a href="{{ url_for('login') }}">User Login</a></p>	
</div>
</body>

</html>